<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="high5.team.high5">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning">
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-1737513588576197~4958054070"/>
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".Activity.EventActivity"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".Activity.ProfileActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Activity.EventDetailsActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Activity.EventCreateActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Activity.ChatActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Activity.EventWaitingQueueActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Activity.ProfileEditActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>